*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --ColorNum1-- : #faeee2;
    --ColorNum2-- : #cd7416;
    --ColorNum3-- : #353535;
    --ColorNum4--: #ec9134;
}

.navbar{
    width: 100%;
    height: 130px;
    background: var(--ColorNum4--);
    position: absolute;
    display: flex;
    flex-direction: column;
}
.navbar-content{
    border-bottom: #faeee2 solid 1px;
    height: 85px;
    display: flex;
    flex-direction: row;
}
.navlogo{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-left: 20px;
}
.navlogo img{
    width: 45px;
    height: 40px;
}
.navlogo h1{
    color: var(--ColorNum3--);
}
.navOptioons{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 100%;
}
.navOptioons form{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 40px;
    height: 100%;
}
.navOptioons form button{
    cursor: pointer;
    background: var(--ColorNum4--);
    color: aliceblue;
    border-radius: 15px;
    border: #faeee2 solid 2px;
    padding: 5px;
}
.IndexContainer{
    overflow: auto;
    background: var(--ColorNum1--);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse; 
}

.MainContainer{
    background: var(--ColorNum1--);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-top: 130px; */
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
}
.FormContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    height: 90%;
    border: solid 6px #cd7416; 
    /* overflow: auto; */
}
.indexForm{
    border: solid 0px #cd7416; 
    width: 65%;
    z-index: 2;
}

.indexForm a{
    text-decoration: none;
    color: #cd7416;
    margin-top: 35px;
    font-size: 20px;
}
.FormContainer form{
    display: flex;
    flex-direction: column;
}
.FormContainer h1{
    color: var(--ColorNum2--);
    font-size: 45px;
}
.FormContainer span{
    color: var(--ColorNum3--);
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 50px;
}
.input{
    margin-top: 20px;
    background-color: var(--ColorNum1--);
    padding: 10px;
    height: 50px;
    width: 90%;
    max-width: 400px;
    border-radius: 60px;
    border: #cd7416 solid 2px;
}
.inputbtn{
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    background-color: var(--ColorNum1--);
    padding: 10px;
    height: 50px;
    width: 90%;
    max-width: 400px;
    border-radius: 60px;
    background: rgb(211,113,12);
    background: linear-gradient(90deg, rgba(211,113,12,1) 0%, rgba(228,134,38,1) 35%, rgba(249,164,73,1) 100%);
    border: #cd7416 solid 2px;
}
.indexForm span{
    margin-top: 20px; 
    margin-bottom: 20px;
}
.navbar-searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.NavbarInput{
    margin-top: 10px;
    width: 40%;
    height: 25px;
    border: #c9c8c8;
    padding-left: 8px;
}
.searchBtn{
    color: #faeee2;
    cursor: pointer;
    margin-top: 10px;
    width: 25px;
    height: 25px;
    border: #c9c8c8;
    background: var(--ColorNum3--);
    margin-left: 5px;
}   
.OptionsDisplay{

    height: 150px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.OptionsDisplay button{
    cursor: pointer;
    font-size: 35px;
    margin-left: 15px;
    border: none;
    background: none;
}
.ADDChange{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
}
.ADDChange button{
    color: #353535;
    font-size: 45px;
    background: none;
    border: none;
    cursor: pointer;
}
.ADSContainer{
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 1950px;
}
.AdImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    overflow: initial;
}
.AdImgContainer img{
    height: 100%;
    width: auto;
}
.MenuContainer{
    background: var(--ColorNum1--);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    padding-top: 450px;
}
.MenuContainer h2{
    font-size: 40px;
    margin-bottom: 10px;
}
.Itemcontainer{
    cursor: pointer;
    display: flex;
    flex-direction: c;
    width: 80%;
    height: 150px;
    margin-bottom: 25px;
}
.MenuItem{
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: #353535 solid 3px;
    border-radius: 25px;
    background-color: white;
    overflow: hidden;
    --clip: polygon(0 0, 100% 0%, 100% 0, 0 0);
}
.MenuItem span{
    padding-left: 20px;
}
.MenuItem:hover{
    --clip: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}
.MenuItem li{
    clip-path: var(--clip);

}
.MenuItem img{
    height: 110%;
    margin-left: -25px;
}
.menu__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu{
    list-style: none;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submenu{
    width: 90%;
    list-style: none;
    overflow: hidden;
    transition: all 0.2s;
}
.subcontainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.containerSubmenu{
    width: 100%;
    display: flex;
    justify-content: center;
}
.submenu__item .Itemcontainer{
    width: 100%;
}