*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --ColorNum1-- : #faeee2;
    --ColorNum2-- : #cd7416;
    --ColorNum3-- : #353535;
    --ColorNum4--: #ec9134;
}
.navbar{
    width: 100%;
    height: 130px;
    background: var(--ColorNum4--);
    position: absolute;
    display: flex;
    flex-direction: column;
}
.navbar-content{
    border-bottom: #faeee2 solid 1px;
    height: 85px;
    display: flex;
    flex-direction: row;

}
.navlogo{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    /* background: #a82d2d; */
    padding-left: 20px;
}
.navlogo img{
    width: 45px;
    height: 40px;
}
.navlogo h1{
    color: var(--ColorNum3--);
}
.navOptioons{
    color: aliceblue;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    /* background: #761db1; */
    padding-left: 20px;
}
.IndexContainer{
    overflow: auto;
    background: var(--ColorNum1--);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: row-reverse; 
}

.MainContainer{
    background: var(--ColorNum1--);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    /* min-width: 600px; */
}
.FormContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    height: 90%;
    border: solid 6px #cd7416; 
    overflow: auto;
}
.indexForm{
    border: solid 0px #cd7416; 
    width: 65%;
    /* padding-left: 6px; */
    z-index: 2;
}

.indexForm a{
    text-decoration: none;
    color: #cd7416;
    margin-top: 35px;
    font-size: 20px;
}
.FormContainer form{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
.FormContainer h1{
    color: var(--ColorNum2--);
    font-size: 45px;
}
.FormContainer span{
    color: var(--ColorNum3--);
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 50px;
}
.input{
    margin-top: 20px;
    background-color: var(--ColorNum1--);
    padding: 10px;
    height: 50px;
    width: 90%;
    max-width: 400px;
    border-radius: 60px;
    border: #cd7416 solid 2px;
}
input:focus{
    color: #353535;
    margin-top: 20px;
    background-color: var(--ColorNum1--);
    padding: 10px;
    height: 50px;
    border-radius: 60px;
    border: #cd7416 solid 2px;
}
.inputbtn{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    background-color: var(--ColorNum1--);
    padding: 10px;
    height: 50px;
    width: 90%;
    max-width: 400px;
    border-radius: 60px;
    background: rgb(211,113,12);
    background: linear-gradient(90deg, rgba(211,113,12,1) 0%, rgba(228,134,38,1) 35%, rgba(249,164,73,1) 100%);
    border: #cd7416 solid 2px;
}
.indexForm span{
    margin-top: 20px; 
    margin-bottom: 20px;
}