{% extends 'layout.html'%}



{% block body %}
    <main class="IndexContainer">
        <img src="{{url_for('static', filename='indexBG.jpg')}}" class="indexBG">
        <div class="FormContainer indexForm">
            <h1>¿Deseas algo?</h1>
            <span>¡Tenemos lo que buscas!</span>
            <form action="/login" method="POST">
                <input type="email" name="email" class="input" placeholder="Correo electrónico" required>
                <input type="password" name="password" class="input" placeholder="Contraseña" required>
                <button type="submit" class="inputbtn">Ingresar</button>
        
            </form>
            <a href='/ShanesRibShack/register/'>¿No tienes cuenta? Crea una</a>
        </div>
     
    </main>
    
{% endblock %}


