{% extends 'layout.html'%}



{% block body %}
    <main class="MainContainer">
        <!-- {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %} -->
        <div class="FormContainer">
            <h1>Registrate</h1>
            <span>Es fácil y rápido</span>
            <form action="/add_user" method="POST">

                <input type="text" name="name" class="input inputname" placeholder="Nombres"> 
                <input type="text" name="lastname" class="input inputname" placeholder="Apellidos">
                <input type="email" name="email" class="input" placeholder="Correo electrónico">
                <input type="password" name="password" class="input" placeholder="Contraseña">
                <input type="password" class="input" placeholder="Repetir contraseña">
                <button type="submit" class="inputbtn">Ingresar</button>
        
            </form>
        </div>
     
    </main>
    
{% endblock %}


